@import "tailwindcss";

:root {
  --primary: #1f2732;
  --secondary: #0794c7;
  --hover: #06b79f;
  --alt: #970818;

  --background: #ffffff; 
  --foreground: #1f2732; 

  --on-primary: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-hover: var(--hover);
  --color-alt: var(--alt);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-on-primary: var(--on-primary);
  
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
